body {
  font-family: Arial, Tahoma, sans-serif;
  margin: 2em;
  font-size: 62.5%;
  background: #333745;
}

p {
  font-size: 1.2em;
}

a {
  color: #0066cc;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:active,
a:focus {
  color: #666;
  background-color: #f4f4f4;
}

a.current {
  color: #fff;
  font-weight: bold;
}

#multi-tree {
  border: solid;
  border-color: #bfbfbf;
  border-width: 1px;
  padding: 0 0 2em 0;
  font-size: 1.3em;
}

.scheme-header {
  text-align: center;
  color: #fff;
  margin: 10px;
}

.scheme-header:active {
  background: #464b5e;
  color: #fff;
}

span {
  text-decoration: none;
  display: block;
  margin: 0 0 0 1.2em;
  background-color: transparent;
  border: solid silver;
  border-width: 0 0 1px 1px;
}
span a {
  display: block;
  position: relative;
  top: 0.95em;
  background: #464b5e;
  color: #fff;
  margin: 0 0 0.2em 0.7em;
  padding: 0 0.3em;
}

span a:active {
  background: #464b5e;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0 0.25em;
  border-bottom: 1px solid silver;
}

h4 a {
  display: block;
}

ul,
li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  line-height: 1.2em;
}

/*ul li ul {
  display: none;
}*/

ul li ul li {
  margin: 0 0 0 1.2em;
  border-left: 1px solid silver;
}

li.last {
  border: none;
}

// .marker {
//   border-color: transparent transparent transparent #a5afd7;
//   border-style: solid;
//   border-width: 0.25em 0 0.25em 0.5em;
//   margin: 0.35em 0.25em 0 0;
//   float: left;
//   width: 0px;
//   height: 0px;
//   line-height: 0px;
// }
//
// .marker.open {
//   border-color: #a5afd7 transparent transparent transparent;
//   border-width: 0.5em 0.25em 0 0.25em;
// }

/* IE 6 Fixup */
* html #multi-tree * {
  height: 1%;
}
* html .marker {
  border-style: dotted dotted dotted solid;
}
* html .marker.open {
  border-style: solid dotted dotted dotted;
}
